

<div th:fragment="content">

  <!-- partial -->
  <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin/groups">
          <i class="mdi mdi-chart-bubble menu-icon"></i>
          <span class="menu-title">Группы
                            </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/subjects">
          <i class="mdi mdi-book-multiple menu-icon"></i>
          <span class="menu-title">Предметы
                            </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/teachers">
          <i class="mdi mdi-account-card-details menu-icon"></i>
          <span class="menu-title">Учителя
                            </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/pupils">
          <i class="mdi mdi-face menu-icon"></i>
          <span class="menu-title">Ученики
                            </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/temp-users">
          <i class="mdi mdi-clipboard-arrow-down menu-icon"></i>
          <span class="menu-title">Запросы
                            </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/trainer">
          <i class="mdi mdi-puzzle menu-icon"></i>
          <span class="menu-title">Тренажёр
                            </span>
        </a>
      </li>
    </ul>
  </nav>
</div>